<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="static/style.css">
</head>
<body style="background-image: url(static/cool-background-white.png)">
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">News Popularity Predictor</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">
			<a style="color: black;" class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
			<a style="color: black;" class="nav-item nav-link" href="static/Functionality.html">Functionality</a>
		  </div>
		</div>
	  </nav>
	<div>
	<div class="formStyle">
		<form action="{{ url_for('predict')}}" method="POST">
		<h3>Give the URL of News</h3>
		<br>
		<input style="width: 40%;" type="text" name="message"/>
		<br/>
		<br>
		<input style="background:rgb(41, 161, 209); cursor:pointer; border-radius: 10px 10px 10px 10px; box-shadow: rgb(41, 161, 209);" type="submit" value="predict">	
	</form>	
	</div>
	</div>
</body>
</html>